<%= semantic_form_for @trip do |f| %>
  <%= f.inputs do %>
    <%= f.input :user, :as => :autocomplete, :url => autocomplete_client_email_trips_path, input_html: {name:"",:id_element => '#user_id_auto'},:update_elements => {} %>
    <%# f.autocomplete_field :user, autocomplete_client_email_trips_path, :id_element => '#user_id_auto',:update_elements => {} %>
    <div id="user-form" style="display:none;">
      <%= f.semantic_fields_for :user do |u|%>
        <%= u.input :phone %>
      <% end %>
    </div>
    <%= f.hidden_field :user, id: "user_id_auto" %>
    <%= f.text_field :trip_date, id: "trip_date" %>
    <%= f.text_field :trip_date, id: "trip_time" %>
    <%= f.input :duration %>
    <%= f.input :price %>
    <%= f.input :bonus_point %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
