<%# @trip.orders %>
<%# @client.natural_person.orders.each {|o| p o} %>

Дата <%= @trip.orders.datetime_from %>
Длина пути: <%= @trip.orders.route_length %>
Стоимость: <%= @trip.orders.cost_plan %> ( <%= @trip.orders.cost %>)

<%= semantic_form_for @trip do |f| %>
  <div class="trip-form">
  <%= f.inputs do %>

    <%= f.input :orders, collection: @not_bonus_orders, include_blank: false %> 
    <%# f.text_field :trip_date, :placeholder => "Дата", id: "trip_date", class: "input-medium", value: DateTime.now.strftime("%d %m, %Y")  %>
    <%# f.text_field :trip_date, :placeholder => "Время", id: "trip_time", class: "input-mini" %>
    
    <div class="controls controls-row">
      <%# f.input :duration, :input_html => { :class => "input-mini" } %>
      <%# f.input :price, :input_html => { :class => "input-mini" }  %>
      <%= f.input :bonus_point, :input_html => { :class => "input-mini" } %>
    </div>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input, label: "Применить" %>
  <% end %>
  </div>
<% end %>
