<table>
<table class="table table-striped">
  <thead>
    <th>Дата</th>
    <th>Клиент</th>
    <th>Длина маршрута</th>
    <th>Стоимость</th>
    <th>Потрачено бонусов</th>
    <th></th>
  </thead>
  <tbody>
      <%= Order.first %>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.datetime_from %></td>
      <td>
        <% unless order.natural_person.nil? %>
          <% if order.natural_person.client.nil? %>
            <%= link_to "#{order.natural_person.full_name}", new_client_path(natural_person: order.natural_person.id) %>
          <% else %>
            <%= link_to  order.natural_person.client,  order.natural_person.client %>
          <% end %>
        <% end %>
      </td>
      <td><%= order.route_length %></td>
      <td><%= order.cost_plan %></td>
      <td><%= order.trip.try(:bonus_point) %></td>
      <td>
        <% if can? :manage, @client and order.trip.try(:bonus_point).nil?%>
          <% unless order.natural_person.nil? or order.natural_person.client.nil? %>
            <%= link_to "Оплатить бонусами", new_trip_path(client: @client, order_id: order) %>
          <% else %>
              <%= link_to "Пригласить k", new_client_path(natural_person: order.natural_person)  %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
