<table>
<table class="table table-striped">
  <thead>
    <th>Дата</th>
    <% unless current_user.role? :client %>
        <th>Клиент</th>
        <th>Телефон</th>
    <% end %>
    <th>Длина маршрута</th>

    <th>Полная стоимость</th>
    <th>Получено бонусов</th>
    <th></th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
        <% if order.natural_person.present? %>
        <tr>
          <td><%= order.datetime_from.in_time_zone(ActiveSupport::TimeZone.new("St. Petersburg")).strftime("%d.%m.%y %H:%M") %></td>

            <% unless order.natural_person.nil? || current_user == order.natural_person.client %>
                                  <td>
              <% if order.natural_person.client.nil? %>
  
                <%= link_to "#{order.natural_person.full_name.encode}", new_client_path(natural_person: order.natural_person.id)  %>
              <% else %>
                <%= link_to  order.natural_person.client.to_s.encode,  order.natural_person.client %>
              <% end %>
                        </td>
                        <td><%= order.tel_call_back || order.tel %></td>
            <% end %>

          <td><%= order.route_length %></td>
          <td><%= order.cost_plan %></td>
          <td>
              <% if order.trip.try { |t| t.bonus_point.present? }  %>
              <%= order.trip.try(:bonus_point) %>
              <% end %>
          </td>
          <td>
            <% if can? :manage, @client and order.trip.try(:bonus_point).nil?%>
              <% if order.natural_person.nil? or order.natural_person.client.nil? %>
                  <%= link_to "Пригласить в бонусную программу", new_client_path(natural_person: order.natural_person)  %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
