<h1>Поездки</h1>

<%= link_to 'Добавить поездку', new_trip_path, class: "btn btn-success entypo-plus-squared" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Дата</th>
      <th>Длительность</th>
      <th>Стоимость</th>
      <th>Потрачено бонусов</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.client %></td>
        <td><%=Russian::strftime trip.trip_date, "%d %B %Y %I:%M" %></td>
        <td><%= trip.duration %></td>
        <td><%= trip.price %></td>
        <td><%= trip.bonus_point %></td>
        <td>
          <div class="dropdown">
            <a class="dropdown-toggle entypo-menu" data-toggle="dropdown" href="#">Редактировать</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%= link_to 'Показать', trip, class: "entypo-book-open" %></li>
              <li><%= link_to 'Изменить', edit_trip_path(trip), class: "entypo-pencil" %></li>
              <li><%= link_to 'Удалить', trip, method: :delete, data: { confirm: 'Вы уверены?' }, class: "entypo-cancel-squared" %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


