<h1>Поездки</h1>

<%= link_to 'Добавить поездку', new_trip_path %>
<table>
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Дата</th>
      <th>Длительность</th>
      <th>Стоимость</th>
      <th>Потрачено бонусов</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.client %></td>
        <td><%= trip.trip_date %></td>
        <td><%= trip.duration %></td>
        <td><%= trip.price %></td>
        <td><%= trip.bonus_point %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

