<div class="trip-info">



<p>
  <strong>Дата поездки:</strong>
  <%=Russian::strftime @trip.orders.datetime_from, "%d %B %Y"  %>
</p>



<p>
  <strong>Цена:</strong>
  <%= @trip.orders.cost %>
</p>

<p>
  <strong>Использовано баллов:</strong>
  <%= @trip.bonus_point %>
</p>
<p>
  <strong>Получено балов:</strong>
  <%= @trip.added_bonus %>
</p>

</div>

<%= link_to 'Редактировать', edit_trip_path(@trip), class: "entypo-pencil" %> |
<%= link_to 'Назад', trips_path %>
