<div class="trip-info">

<p>
  <strong>Клиент:</strong>
  <%= @trip.client %>
</p>

<p>
  <strong>Дата поездки:</strong>
  <%= @trip.trip_date %>
</p>

<p>
  <strong>Длительность:</strong>
  <%= @trip.duration %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @trip.price %>
</p>

<p>
  <strong>Количество баллов:</strong>
  <%= @trip.bonus_point %>
</p>

</div>

<%= link_to 'Редактировать', edit_trip_path(@trip), class: "entypo-pencil" %> |
<%= link_to 'Назад', trips_path %>
