<h1>Бонусные программы</h1>

<div class="row-fluid">
  <div class="span6">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Коэффициент</th>
        </tr>
      </thead>

      <tbody>
        <% @bonus_programs.each do |bonus_program| %>
          <tr>
            <td>
              <div class="btn-group">
                <button class="btn"><strong><%= bonus_program %></strong></button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <!-- <li><%= link_to 'Показать', bonus_program, class: "entypo-book-open" %></li> -->
                  <li><%= link_to 'Редактировать', edit_bonus_program_path(bonus_program), class: "entypo-pencil" %></li>
                  <li><%= link_to 'Удалить', bonus_program, method: :delete, data: { confirm: 'Вы уверены?' }, class: "entypo-cancel-squared" %></li>
                </ul>
              </div>
            </td>
            <td><strong><%= bonus_program.rate %></strong></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<%= link_to 'Добавить бонусную программу', new_bonus_program_path, class: "btn btn-success entypo-plus-squared" %>