<h1>Listing bonus_programs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bonus_programs.each do |bonus_program| %>
      <tr>
        <td><%= bonus_program.name %></td>
        <td><%= bonus_program.rate %></td>
        <td><%= link_to 'Show', bonus_program %></td>
        <td><%= link_to 'Edit', edit_bonus_program_path(bonus_program) %></td>
        <td><%= link_to 'Destroy', bonus_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bonus program', new_bonus_program_path %>
