<p id="notice"><%= notice %></p>
<h1>На счету: <%= number_to_currency @user.account.total %></h1>
<table class="table table-striped">
  <thead>
    <th>Дата</th>
    <th>Время</th>
    <th>Стоиость</th>
    <th>Потрачено бонусов</th>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.trip_date %></td>
      <td><%= trip.duration %></td>
      <td><%= number_to_currency trip.price %></td>
      <td><%= trip.bonus_point %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Редактировать', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
