<p id="notice"><%= notice %></p>
<h1>На счету: <%= number_to_currency @user.account.total %></h1>
<table class="table table-striped">
  <thead>
    <th>Дата</th>
    <th>Время</th>
    <th>Стоиость</th>
    <th>Потрачено бонусов</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.datetime_from %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Редактировать', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
