<h1>Клиенты c бонусной программой</h1>

<%= form_tag search_clients_path, method: :get do %>
    <%= number_field_tag :email %>
    <%= submit_tag "Поиск" %>
<% end %>

<%# link_to 'Добавить', new_client_path, class: "btn btn-success entypo-plus-squared" %>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client, client %></td>
        <td><%= client.bonus_program %></td>
        <td><%= link_to 'Изменить', edit_client_path(client), class: "btn btn-warning entypo-pencil" %> <%= link_to 'Удалить', client, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger entypo-cancel-squared" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @clients %>

<br>

