<div class="row-fluid">
  <div class="span8">
    <h1><%= @client.natural_person.full_name.force_encoding("cp1251").encode("utf-8", undef: :replace) %></h1>
    <h3 class="entypo-phone">+<%= @client.email %></h3>
    <p>
      <span class="label label-warning">Бонусная программа: <%= @client.bonus_program.to_s %></span>
    </p>
  </div>
  <div class="span4">
    <div class="well well-smal">
      <h3>На счету: <span class="badge badge-info"><%=  "#{@total_bonus.to_i} баллов" %></span></h3>
    </div>
  </div>
</div>
<%= render "trips/trips" %>
<%= link_to 'Изменить', edit_client_path(@client) if can? :manage, @client %> |
<%= link_to 'Назад', clients_path %>
